@model EntityLayer_HizmetPortal.Concrate.Stage

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni durum ekleme sayfası</h1>
<br />
@using (Html.BeginForm("Create", "AdminStage", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Stage adı")
        @Html.TextBoxFor(x => x.StageName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.StageName)
        <br />
        @Html.Label("Statues")
        @Html.TextAreaFor(x => x.StageStatues, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.StageStatues)
        <br />
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
}