@model EntityLayer_HizmetPortal.Concrate.Appointment
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Create Appointment</h2>

@using (Html.BeginForm("Create", "AdminRandevu", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.AppointmentStartTime, "Date")
        @Html.TextBoxFor(model => model.AppointmentStartTime, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.AppointmentStartTime)
    </div>

    <div class="form-group">
        @Html.Label("Time")
        @Html.DropDownList("AppointmentTime", new SelectList(Enumerable.Range(0, 24).Select(h => new { Value = h.ToString("00") + ":00", Text = h.ToString("00") + ":00" }), "Value", "Text"), "Select Time", new { @class = "form-control" })
    </div>
    @Html.Label("Serivs seçiniz")
    <select class="form-control" name="ServiceId">
        @foreach (var serviceies in ViewBag.Services)
        {
            <option value="@serviceies.ServiceId">@serviceies.ServiceTitle</option>
        }
    </select>
    <div class="form-group">
        @Html.Label("Select User")
        <select class="form-control" name="UserId">
            @foreach (var user in ViewBag.Users)
            {
                <option value="@user.UserId">@user.UserName  </option>
            } 
        </select>
    </div>
    <input type="submit" value="Create Appointment" class="btn btn-primary" />
}