@using EntityLayer_HizmetPortal.Concrate
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div style="overflow-x:auto;">
    <!-- Bu satır tabloyu sarmalayan div'in başlangıcı -->
    <table class="table table-bordered">
        <tr>
            <th>PersonelId</th>
            <th>PersonelIsim</th>
            <th>PersonelSoyisim</th>
            <th>PersonelCV</th>
            <th>PersonelUnvan</th>
            <th>PersonelImage</th>
            <th>LessonStatus</th>
            <th>LessonStatusButton</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonelId</td>
                <td>@item.PersonelIsim</td>
                <td>@item.PersonelSoyisim</td>
                <td>
                    @(item.PersonelCV != null ? (item.PersonelCV.Length > 20 ? item.PersonelCV.Substring(0, 20) + "..." : item.PersonelCV) : "Bilgi yok")
                </td>
                <td>@item.PersonelUnvan</td>
                <td>@item.PersonelImage</td>
                <td>@item.PersonelStatus</td>
                <td>
                    @if (item.PersonelStatus)
                    {
                        <a href="/AdminPersonel/ToggleStatus/@item.PersonelId" class="btn btn-danger">
                            Devre Dışı
                        </a>
                    }
                    else
                    {
                        <a href="/AdminPersonel/ToggleStatus/@item.PersonelId" class="btn btn-success">
                            Aktif Et
                        </a>
                    }
                </td>
                <td><a href="/AdminPersonel/Edit/@item.PersonelId" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/AdminPersonel/Delete/@item.PersonelId" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </table>
</div> <!-- Bu satır tabloyu sarmalayan div'in sonu -->
<br />
<a href="/AdminPersonel/Create" class="btn btn-info">Yeni Personel</a>
