@model EntityLayer_HizmetPortal.Concrate.Project

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Servis Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("Create", "AdminProject", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.Label("Proje Adı")
        @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProjectName)
        <br />
        @Html.Label("Proje Başlığı")
        @Html.TextAreaFor(x => x.ProjectTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProjectTitle)
        <br />
        @Html.Label("Proje Açıklaması")
        @Html.TextAreaFor(x => x.ProjectDestcription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProjectDestcription)
        <br />
        @Html.Label("Proje Görseli")
        <input type="file" name="ProjectImage" />
        <br />
        @Html.Label("Proje Durumu")
        @Html.TextBoxFor(x => x.ProjectStatues, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProjectStatues)
        <br />
        @Html.Label("Aşama Seçiniz")
        <select class="form-control" name="StageId">
            @foreach (var stage in ViewBag.Stages)
            {
                <option value="@stage.StageId">@stage.StageName</option>
            }
        </select>
        @Html.ValidationMessageFor(x => x.StageId)
        <br />
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
}