@model EntityLayer_HizmetPortal.Concrate.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h1>yeni servis ekleme sayfası</h1>
<br />
@using (Html.BeginForm("Create", "Event", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Event adı")
        @Html.TextBoxFor(x => x.EventTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EventTitle)
        <br />
        @Html.Label("Açıklama")
        @Html.TextAreaFor(x => x.EventDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EventDescription)
        <br />
        @Html.Label("Event Kapasity")
        @Html.TextAreaFor(x => x.EventCapacity, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EventCapacity)
        <br />
        <div class="form-group">
            @Html.Label("Tarih (Date)") <input type="date" id="EventDate" name="EventDate" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
}
