@using EntityLayer_HizmetPortal.Concrate
@model List<Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Event Adi</th>
        <th>Açıklama</th>
        <th>DevreDışı</th>
        <th>Tarih</th>
        <th>Kapasite</th>
        <th>DevreDışı</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EventId</td>
            <td>@item.EventTitle</td>
            <td>@item.EventDescription</td>
            <td>@item.EventStatues</td>
            <td>@item.EventDate</td>
            <td>@item.EventCapacity</td>
            <td><a href="/Event/ToggleStatus/@item.EventId" class="btn btn-danger">DevreDışı</a></td>
            <td><a href="/Event/Edit/@item.EventId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<br />
<a href="/Event/Create" class="btn btn-info">yeni kategori</a>
