@model EntityLayer_HizmetPortal.Concrate.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>yeni servis ekleme sayfası</h1>
<br />
@using (Html.BeginForm("Create", "AdminUser", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kullanıcı adı")
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserName)
        <br />
        @Html.Label("Kullanıcı Soyadı")
        @Html.TextAreaFor(x => x.UserSurName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserSurName)
        <br />
        @Html.Label("Kullanıcı Şifresi")
        @Html.TextAreaFor(x => x.UserPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserPassword)
        <br />
        @Html.Label("Kullanıcı mail")
        @Html.TextAreaFor(x => x.UserEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserEmail)
        <br />
        @Html.Label("Kullanıcı Rank")
        @Html.TextAreaFor(x => x.UserRank, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserRank)
        <br />
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
}
