@model EntityLayer_HizmetPortal.Concrate.Lesson

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Ders Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("Create", "AdminLesson", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.Label("Lesson Title")
        @Html.TextBoxFor(x => x.LessonTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LessonTitle)
        <br />
        @Html.Label("Lesson Description")
        @Html.TextAreaFor(x => x.LessonDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LessonDescription)
        <br />
        @Html.Label("Lesson Image")
        <input type="file" name="LessonImage" />
        <br />
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
}