@model EntityLayer_HizmetPortal.Concrate.Hizmetler

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Hizmetler Güncelleme Sayfası</h1>
<br />
@using (Html.BeginForm("Edit", "AdminHizmetler", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.Label("Hizmet Id")
        @Html.TextBoxFor(x => x.HizmetId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Name")
        @Html.TextBoxFor(x => x.HizmetName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Description")
        @Html.TextAreaFor(x => x.HizmetDescription, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Image")
        <input type="file" name="HizmetlerImage" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Icon")
        <input type="file" name="HizmetIconFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Güncelle</button>
}