@model EntityLayer_HizmetPortal.Concrate.Hizmetler

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>güncelleme sayfası</h1>
<br />
@using (Html.BeginForm("Edit", "AdminHizmetler", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Hizmet Id")
        @Html.TextBoxFor(x => x.HizmetId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Name")
        @Html.TextBoxFor(x => x.HizmetName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Destcription")
        @Html.TextBoxFor(x => x.HizmetDestcription, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Image")
        @Html.TextBoxFor(x => x.HizmetImage, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Icon")
        @Html.TextBoxFor(x => x.HizmetIcon, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Hizmet Statues")
        @Html.TextBoxFor(x => x.HizmetStatues, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">Güncelle</button>
}