@using EntityLayer_HizmetPortal.Concrate
@model List<Reservation>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Reservation Date</th>
        <th>Status</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReservationId</td>
            <td>@item.UserId</td>
            <td>@item.ReservationDate</td>
            <td>@item.ReservationStatues</td>
            <td>
                <a href="@Url.Action("DeleteReservation", "AdminReservation", new { reservationId = item.ReservationId, eventId = ViewBag.EventId })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>